.card {
  float: none;
  background-color: white;
  margin: 1rem;
}

*:before,
*:after {
  box-sizing: border-box;
}

.card .panel .panel-logo {
    display: inline-block;
}

.card .panel .panel-header {
    display: inline-block;
}

.card .panel .panel-description {
    display: inline;
}

// .row {
//     margin-left: 15px;
//     margin-right: 15px;
// }

// .row:after {
//     clear: both;
//     content: "";
//     display: table;
// }

// .row .pack {
//     content: "";
//     display: table;
// }

// 与table使用指定card布局
// .pack {
//     display: -webkit-inline-flex;
//     display: -ms-inline-flexbox;
//     // flex 实现自动填充
//     display: inline-flex;
//     // wrap自动换行
//     flex-wrap: wrap;
//     -webkit-flex-wrap: wrap;
// }

.pagination li {
  display: inline-block;
  margin-left: 10px;
}

.grid {
    margin-left: 80px;
}
