.card {
    float: none;
    
}

// 自适应
@media (min-width: 992px) {
    .col-md-4  {
        // 每行3个卡片
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
      }
}

*:before, *:after {
    box-sizing: border-box;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.row .pack {
    content: "";
    display: table;
}

// 与table使用指定card布局
.pack {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    // flex 实现自动填充
    display: inline-flex;
    // wrap自动换行
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.pagination li {
    display: inline-block;
    margin-left: 10px;
}

