// main layout

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    // padding: 1rem 0 3rem 0;
    background-color: rgba(236,239,241,.5);
}

main, aside {
    display: block;
    margin-bottom: 0em;
    flex: 1;
}

main .container {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
}

main .container .mrow {
    overflow: hidden;
    width: 100%;
}

main .container .mcol {
    box-sizing: border-box;
    float: left;
    padding: 0 0.5rem;
}

@import 'purecss';
@import '_purecss-grids-responsive-min';
@import 'navbar';
@import 'gridcard';
@import 'sidebar';
@import 'footer';
@import 'backtotop';
@import 'code';
@import 'article';
@import 'cube';

// lg
@media screen and (min-width: 64em) {
    // padding left
    main .container {
        padding: 0 4rem;
    }


}

// md and small 
@media screen and (max-width: 64em) {
    // disable funny cube
    #wrapper {
        display: none;
    }
    
    .grid {
        margin-left: auto;
    }
}

// small
@media screen and (max-width: 48em) {
    .sidebar {
        display: none;
    }
}
