$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

@mixin transform($transform) {
            transform: $transform;
    -webkit-transform: $transform;
        -ms-transform: $transform;
}
@mixin animation($animation, $delay : 0) {
    -webkit-animation: $animation;
    animation: $animation;
    @if $delay > 0 {
        -webkit-animation-delay: #{$delay}s;
        animation-delay: #{$delay}s;
    }
}

@import 'surface';
@import 'navbar';
@import 'gridcard';
@import 'sidebar';
@import 'footer';
@import 'backtotop';
