<header class="container--baseline bg--clouds l-header">
    <h1 class="m--5 g--6 color--black md-layout-title"><a href="{{ .Site.BaseURL }}/{{.Site.Language.Lang}}/">{{ .Site.Title }}</a></h1>
    <nav class="g--3 nav--horizontal">
            <ul>
                <!-- todo customize it with conditional languages and switch back -->
                <!-- replace me with variables -->
              <li><a href="{{ .Site.BaseURL }}/zh/">中文</a></li>
              <li><a href="https://github.com/artificerpi/">GitHub</a></li>
              <li class="dropdown"><a href="http://www.g.com">Menu</a>
                <ul>
                  <li><a href="http://www.google.com">D Link</a></li>
                  <li><a href="http://www.google.com">D Link</a></li>
                  <li><a href="http://www.google.com">D Link</a></li>
                </ul>
              </li>
              <li><a href="/about/">About</a></li>
            </ul>
          </nav>
</header>